
<footer>
    <h3><span>Rv</span> Blog</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam, odit!</p>
    <p class="phone"><i class="fa-phone fa-solid"></i><a href="tel:+918107762501">+91 8107762501</a></p>
    <p class="email"><i class="fa-envelope fa-solid"></i><a href="mailto:rkv51508@gmail.com">rkv51508@gmail.com</a></p>
    <p class="social-icons">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </p>
</footer>

</body>
</html>