<%-include("./partials/header",{title:"Not Authorized"})%>
<body>
    <div class="not-auth-container">
        <span class="not-auth-content">Not Authorized</span>
        <a href="/api/v1/user/login" class="not-auth-link">Go To</a>
    </div>
    
</body>
</html>

<%-include("./partials/footer")%>