<%-include("./partials/header",{title:"Update User Password Page"})%>

<main class="register-main">
        <form action="/api/v1/user/updateuserpassword?_method=put" method="post">
            <h2>Update Your Password</h2>
            <p class="error"><%=error%></p>
            <div class="form-fields">
                <div>
                    <label for="oldPassword">Old Password</label>
                    <input class="updatingPass" type="password" name="oldPassword" id="oldPassword">
                </div>
                <div>
                    <label for="newPassword">New Password</label>
                    <input class="updatingPass" type="password" name="newPassword" id="newPassword">
                </div>
                <div>
                    <label for="confirmNewPassword">Confirm New Password</label>
                    <input class="updatingPass" type="password" name="confirmNewPassword" id="confirmNewPassword">
                </div>

                <div align="center">
                    <button class="register-btn" type="submit">Update Password</button>
                </div>
            </div>
        </form>
</main>



<%-include("./partials/footer")%>